
{% extends "base.html" %}

{% block content %}
<body>
  <table border=1 align="center">
    <tr bgcolor="darkgrey">
      <td colspan=3 align="center"> <strong>Unavailable Products</strong>
      </td>
    </tr>
    <tr bgcolor="lightgrey">
        <td align="center">#</td>
        <td align="center">Title</td>
        <td align="center">Created On</td>
    </tr>
    {% for x in unavailable %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ x.title }}</td>
        <td>{{ x.created_on }}</td>
      </tr>
    {% endfor %}

  </table>
</body>
{% endblock %}